@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", 'sans-serif';
    background-image: url('../src/assets/timer_bgg.jpg');
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container h1 {
    text-align: center;
}

.timer_input {
    text-align: center;
    padding: 20px 0;
}

.timer_input input {
    padding: 10px 0;
    border-radius: 8px;
    margin: 10px;
    font-size: 14px;
}

.timer_display {
    text-align: center;
}

.timer_controls {
    text-align: center;
    padding-top: 20px;
}

button {
    padding: 10px 20px;
}


/* Reset Button */

.btn_reset {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
    color: #007bff;
    background-color: #fff;
    box-shadow: 4px 4px 0px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    width: 60px;
    padding: 10px 20px;
}

.btn_reset .btn_icon {
    display: none;
    font-size: 14px;
}

.btn_reset:hover .btn_text {
    display: none;
}

.btn_reset:hover .btn_icon {
    display: inline;
}


/* Pause Button */

.btn_pause {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
    color: #FF4500;
    background-color: #fff;
    box-shadow: 4px 4px 0px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    width: 60px;
    padding: 10px 20px;
    margin-left: 12px;
    margin-right: 12px;
}

.btn_pause .btn_icon {
    display: none;
    font-size: 14px;
}

.btn_pause:hover .btn_text {
    display: none;
}

.btn_pause:hover .btn_icon {
    display: inline;
    color: red;
}

.timer_input>label>input[type=number] {
    color: #000;
    border: none;
    outline: none;
    padding-left: 10px;
}

.timer_input>label>input[type=number]:focus {
    border: none;
}

.remaining-time {
    background-color: #fff;
    color: #000;
    padding: 6px 14px;
    border-radius: 6px;
}


/* Start Button */

.btn_start {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    border-style: none;
    color: #28a745;
    background-color: #fff;
    transition: all 0.3s ease;
    width: 60px;
    padding: 10px 20px;
    box-shadow: #28a745;
    box-shadow: 4px 4px 0px 2px rgba(0, 0, 0, 0.5);
}

.btn_start .btn_icon {
    display: none;
    font-size: 14px;
}

.btn_start:hover .btn_text {
    display: none;
}

.btn_start:hover .btn_icon {
    display: inline;
}